
html, body {
    height: 100%;
}

h3 {
  font-size: 1.6em;
}
footer {
  text-align: center;
  padding:1em;
}

/*file upload styles*/

  input[type=file]
  {
    border: 2px solid #068eeb;
    padding: 1em;
    background-color: #f1f5ff;
    box-shadow: 3px 3px 3px #c0c0c0;
  }
  .panel
  {
    min-height:300px;
   margin-right:1em;
  }
p {
  padding-top:1em;
}
  /*end file upload styles*/