
<div class="container">
    <div class="row">
        <div class="col-md-8">



            <div class="jumbotron">
                <img src="assets/img/logo.png" style="float:left;margin-right:1em;" class="rounded-circle">
                <h1>Ape Tools</h1>
                <p class="lead">Don't Go Ape, Go Ape Tools.<br> Get apps done quicker.</p>
                <p>Create all the required sizes of Icons and Splashscreens for your app instantly for all major platforms
                    <i
                        title="iOS" class="fa fa-apple"></i> <i title="Windows Phone and Windows Store" class="fa fa-windows"></i> <i title="Android" class="fa fa-android"></i>                        <i title="Web" class="fa fa-cloud"></i>.</p>
                <a href="#/tools/imagegorilla" class="btn btn-primary">Generate Your Icons &amp; Splashscreens</a>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-top:40px;">
                <div class="well well-sm">
                    <p>If you like this tool you can help by sponsoring it's continued development.</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="KB4LAUWZLFN4A">
                        <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <br>
               <!-- <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
                <ins class="adsbygoogle" style="display: block; height: 280px;" data-ad-client="ca-pub-3647459715765179" data-ad-slot="9116382648"
                    data-ad-format="auto" data-adsbygoogle-status="done">
                    <ins id="aswift_0_expand" style="display:inline-table;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:360px;background-color:transparent;">
                        <ins id="aswift_0_anchor" style="display:block;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:360px;background-color:transparent;">
                            <iframe width="360" height="280" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0"
                                allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                                id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;width:360px;height:280px;"></iframe>
                        </ins>
                    </ins>
                </ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});

                </script>-->
            </div>
        </div>
    </div>
</div>